@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

@layer base {
    body {
        @apply font-poppins;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.logo-img {
    width: 50px;
}

.bgImage {
    background-image: url(../src/assets/getwear.png);
}

.bgImagePro {
    background-image: url(../src/assets/pro-ecommerce.png);
}

.bgImageDeedit {
    background-image: url(../src/assets/deedit-app.png);
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

@media (min-width: 640px) {
    
    .content-div:hover {
        background-image: linear-gradient(
            to right, 
            rgba(112, 157, 255, 0.8),
            hsla(242, 74%, 61%, 0.8)
        );
    }
}

.bg-image {
    background-image: linear-gradient(
        to right, 
        rgba(112, 157, 255, 0.7),
        hsla(242, 74%, 61%, 0.7)
    );
}
